@charset "UTF-8";


.menunav {
	width: 650px;
	margin: auto;
	box-align: center;
}

h1{
	color:rgb(45, 45, 105);
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	max-width: 640px;
	margin:auto;
	margin-bottom:10px;
} 
h1:link {
	color:rgb(40, 40, 97);
	cursor: pointer;
}
h2 {
	color:rgb(32, 58, 82);
	font-size: 24px;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	max-width: 640px;
	margin:auto;
	padding:44px 10px 2px 10px;
}

th {
	background-color: rgb(32, 58, 82);;
	color: rgb(255, 255, 255);
	font-weight: normal;
	text-align: center;
	padding: 10px 6px 4px 10px;
	border-style:outset;
	border-left:1px;
    border-color: #1f1e55;  
    font-weight: bold;
}
td {
	background-color: rgb(32, 58, 82);;
	color: rgb(255, 255, 255);
	padding: 10px 18px 10px 10px;
}
ul {
	list-style-type: none;
	margin: -2px 0px -2px -40px;
}

.mw-content-ltr ul,.mw-content-rtl .mw-content-ltr ul {
    margin: 0.3em 0 0 1.6em;
    padding: 0
}

.mw-content-rtl ul,.mw-content-ltr .mw-content-rtl ul {
    margin: 0.3em 1.6em 0 0;
    padding: 0
}

ul,ol {
    list-style: none
}

.mw-content-rtl {
    direction: rtl
}

img.tex {
    vertical-align: middle
}
.magnify {
    float: right
}

.mw-content-ltr ol,.mw-content-rtl .mw-content-ltr ol {
    margin: 0.3em 0 0 3.2em;
    padding: 0
}

.mw-content-rtl ol,.mw-content-ltr .mw-content-rtl ol {
    margin: 0.3em 3.2em 0 0;
    padding: 0
}

.-gallery {
    list-style: none;
    margin: 16px 0;
    padding: 0
}

.-gallery-caption {
    font-weight: bold;
    text-align: center
}

.-gallery-row {
    white-space: nowrap
}

.-gallery-item {
    display: inline-block;
    padding: 1em;
    vertical-align: top;
    white-space: normal;
    margin: 1px;
    text-align: left
}

.-gallery-item .thumb {
    margin: 0;
    overflow: visible;
    position: relative;
    text-align: center
}

.-gallery-item .thumb div {
    margin: 0 auto
}

.-gallery-border-transparent .-gallery-item .thumb {
    background: transparent;
    border-width: 0
}

.-gallery-position-center {
    text-align: center
}

.-gallery-position-right {
    text-align: right
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    *zoom:1}

.row .row {
    margin-left: -1.25em;
    margin-right: -1.25em;
    max-width: none;
    width: auto;
    *zoom:1}

.cs{
    width:120px; 
    margin:auto;
    font-weight:bold;
    text-align:center;
}

body {
    color: #3a3a3a;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin: 0;
    overflow-x: auto;
    padding: 10px
}

a {
    color: #36767e;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}


body { 
	background-color:#f3f3f7;
	color:#000000;
	position: relative;
	max-width:75%;
	top: 5%;
    margin:auto;
    border: 1px solid #070606;
    margin: 0 auto;
    position: relative;
    width: 1000px;
    z-index: 3
 }

.MainContent {
    position: relative;
    width: 100%;
    z-index: 1
}

.article-categories {
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top,#ffffff 50%,#f2f2f2 100%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(50%,#ffffff),color-stop(100%,#f2f2f2));
    background-image: -o-linear-gradient(top,#ffffff 50%,#f2f2f2 100%);
    background-image: -ms-linear-gradient(top,#ffffff 50%,#f2f2f2 100%);
    border: 1px solid #cccccc;
    clear: both;
    line-height: 1.8em;
    padding: 10px;
    margin: 10px
}

.Article {
    min-height: 250px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    word-wrap: break-word;
    z-index: 1
}

.Article h2 {
    border-bottom: solid 1px #cccccc;
    font-size: 18px;
    margin-top: 30px;
    overflow: hidden;
    padding-bottom: 3px
}

.Article h3 {
    font-size: 16px;
    overflow: hidden
}

.Article h4 {
    font-size: 14px
}

.Article h5 {
    font-size: 12px
}

.Article h6 {
    font-size: 11px
}

.Article b,.Article strong {
    font-weight: bold
}

.Article sup {
    font-size: 11px;
    line-height: 0;
    vertical-align: super
}

.Article ul,.Article ol {
    margin: .4em 0 .5em 2.5em
}

.Article ol {
    list-style: decimal
}

.Article ol.special {
    margin-left: 3.2em
}

.Article ul {
    list-style: square
}

.Article li {
    line-height: 20px;
    margin: 3px 0
}

.Article dl {
    margin: 1em 0
}

.Article dt {
    font-weight: bold;
    margin-bottom: 1px
}

.Article img {
    vertical-align: middle
}

.Article .center {
    text-align: center;
    width: 100%
}

.Article .center * {
    margin-left: auto;
    margin-right: auto
}

.Article .tright {
    clear: right;
    float: right;
    margin: 0 0 16px 16px
}

.Article .tleft {
    clear: left;
    float: left;
    margin: 0 16px 16px 0
}

.Article .magnify {
    float: right;
    margin-top: 4px
}
.Article p {
    margin: .4em 0 .5em
}

.Article p + p {
    margin: 1em 0
}

.Article ul.gallery {
    margin-left: 0
}

.article-thumb {
    margin-bottom: 15px;
    margin-top: 6px
}

.article-thumb a,.article-thumb img {
    display: block
}

.article-thumb p,.article-thumb p + p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding-top: 5px
}

.article-thumb.tright {
    clear: right;
    float: right;
    margin-left: 20px
}

.article-thumb.tleft {
    clear: left;
    float: left;
    margin-right: 20px
}

.article-thumb .title {
    font-weight: bold
}

.article-thumb figcaption {
    text-align: left
}

.article-thumb .caption {
    color: gray
}

.article-thumb .caption a,.article-thumb .caption img {
    display: inline
}

img.lzyPlcHld {
    opacity: 0
}

img.lzyLoaded {
    opacity: 1
}

img.lzyTrns {
    transition: opacity 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out
}

body {
    overflow-x: hidden;
    position: relative
}
.MainContent {
    width: 100%
}

@media only screen and (min-width: 1084px) {
    .MainContent {
        width:-webkit-calc(100% );
        width: calc(100% )
    }
}

.page-header {
    align-items: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding: 16px 0 12px;
    position: relative;
    width: 100%;
    z-index: 4
}

.page-header_main {
    -webkit-align-self: flex-end;
    -ms-align-self: flex-end;
    align-self: flex-end;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0
}

.page-header_categories {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 12px
}

.page-header_categories-in {
    font-weight: 600;
    padding-right: 4px;
    white-space: nowrap
}

.page-header_categories-links {
    color: #36767e;
    font-style: italic;
    line-height: 16px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word
}

.page-header_title {
    display: flex;
    margin: auto;
    align-items: flex-end;
    color: #3a3a3a;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    max-width: 100%;
    word-wrap: break-word;
    text-align: center;
}
.separator {
    background-color: #cccccc;
    border: 0;
    height: 1px;
    margin-bottom: 18px;
    margin-top: 0;
    width: 100%
}
.portable-infobox {
    background-color: #ebf1f2;
    clear: right;
    float: right;
    margin: 0 0 15px 15px;
    width: 270px
}

.portable-infobox .pi-item-spacing {
    padding: 5px 10px
}

.portable-infobox .pi-secondary-font {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 0
}

.portable-infobox .pi-header,.portable-infobox .pi-title {
    border: 0;
    margin: 0
}

.portable-infobox .pi-title {
    font-size: 18px;
    line-height: 28px
}

.portable-infobox .pi-data-label {
    margin-bottom: inherit;
    margin-top: 0
}

.portable-infobox .pi-data-value > *,.portable-infobox .pi-data-value li {
    margin: 0
}

.portable-infobox .pi-data-value ol,.portable-infobox .pi-data-value ul {
    list-style-position: inside
}

.portable-infobox .pi-data-value li {
    line-height: 19px
}

.portable-infobox .pi-section-label {
    color: #36767e
}

.pi-border-color {
    border-color: #cddddf
}

.pi-image {
    text-align: center
}

.pi-data,.pi-group {
    border-bottom-style: solid;
    border-bottom-width: 1px
}

.pi-data {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%
}

.pi-data-label {
    -ms-flex-preferred-size: 90px;
    -webkit-flex-basis: 90px;
    -moz-flex-basis: 90px;
    flex-basis: 90px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow: hidden;
    word-wrap: break-word
}

.pi-data-value {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 12px;
    line-height: 18px;
    padding-left: 0;
    word-break: break-word
}

.pi-section-tab:hover .pi-section-label {
    color: #173337
}

.pi-section-content {
    display: none
}