@charset "UTF-8";

@font-face {
    font-family: Ancizar Sans-regular;
    src: url('fonts/Ancizar Sans-Regular.otf');
}
a:link {
	color: #FF99FF;
	text-decoration:none;
}
a:hover {
	color: #FF00FF;
}
.menunav {
	width: 650px;
	margin: auto;
	box-align: center;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	color:#2222FF;
	font-size: 36px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px #000000;
	text-align: center;
	max-width: 640px;
	margin:auto;
	margin-bottom:10px;
} 
h1:link {
	color:#2222FF;
	cursor: pointer;
}
h2 {
	font-family: Ancizar Sans-regular;
	color:#2222FF;
	font-size: 24px;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 1px 1px #000000;
	text-align: left;
	max-width: 640px;
	margin:auto;
	padding:44px 10px 2px 10px;
}

th {
	background-color: #663399;
	color: #FFFF00;
	font-weight: normal;
	text-align: center;
	padding: 10px 6px 4px 10px;
	border-style:outset;
	border-left:1px;
	border-color: #663399;
}
td {
	background-color: #3333FF;
	color: #DDDDFF;
	padding: 10px 18px 10px 10px;
}
td:hover {
	color:#CC99CC;
	text-shadow: 1px 1px #000000;	
}  
ul {
	list-style-type: none;
	margin: -2px 0px -2px -40px;
}
body  .WikiaPageContentWrapper { 
	background-color:#000099;
	color:#ffffff;
	position: relative;
	max-width:75%;
	top: 5%;
	margin:auto;
 }

.mw-content-ltr {
    direction: ltr
}

.mw-content-rtl {
    direction: rtl
}

img.tex {
    vertical-align: middle
}
.magnify {
    float: right
}

.mw-content-ltr ul,.mw-content-rtl .mw-content-ltr ul {
    margin: 0.3em 0 0 1.6em;
    padding: 0
}

.mw-content-rtl ul,.mw-content-ltr .mw-content-rtl ul {
    margin: 0.3em 1.6em 0 0;
    padding: 0
}

.mw-content-ltr ol,.mw-content-rtl .mw-content-ltr ol {
    margin: 0.3em 0 0 3.2em;
    padding: 0
}

.mw-content-rtl ol,.mw-content-ltr .mw-content-rtl ol {
    margin: 0.3em 3.2em 0 0;
    padding: 0
}

.wikia-gallery {
    list-style: none;
    margin: 16px 0;
    padding: 0
}

.wikia-gallery-caption {
    font-weight: bold;
    text-align: center
}

.wikia-gallery-row {
    white-space: nowrap
}

.wikia-gallery-item {
    display: inline-block;
    padding: 1em;
    vertical-align: top;
    white-space: normal;
    margin: 1px;
    text-align: left
}

.wikia-gallery-item .thumb {
    margin: 0;
    overflow: visible;
    position: relative;
    text-align: center
}

.wikia-gallery-item .thumb div {
    margin: 0 auto
}

.wikia-gallery-border-transparent .wikia-gallery-item .thumb {
    background: transparent;
    border-width: 0
}

.wikia-gallery-position-center {
    text-align: center
}

.wikia-gallery-position-right {
    text-align: right
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    *zoom:1}

.row .row {
    margin-left: -1.25em;
    margin-right: -1.25em;
    max-width: none;
    width: auto;
    *zoom:1}

.column,.columns {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 1.25em;
    padding-right: 1.25em;
    width: 100%;
    float: left;
    position: relative
}

#WikiaArticle.floating {
    z-index: initial
}

body > a > img[src$="noad.gif"] {
    position: absolute;
    z-index: 0
}

a,article,aside,audio,b,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,label,legend,li,mark,nav,object,ol,p,q,samp,section,small,span,strong,sup,time,ul,var{
    border: 0;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

article,aside,canvas,details,figcaption,figure,footer,header,nav,section{
    display: block
}

ul,ol {
    list-style: none
}

body {
    color: #3a3a3a;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin: 0;
    overflow-x: auto;
    padding: 0
}

a {
    color: #36767e;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.WikiaPage {
    border: 1px solid #cccccc;
    margin: 0 auto;
    position: relative;
    width: 1000px;
    z-index: 3
}

.WikiaPage .WikiaPageContentWrapper {
    zoom:1;display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative
}

.WikiaMainContent {
    position: relative;
    width: 100%;
    z-index: 1
}

.article-categories {
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top,#ffffff 50%,#f2f2f2 100%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(50%,#ffffff),color-stop(100%,#f2f2f2));
    background-image: -o-linear-gradient(top,#ffffff 50%,#f2f2f2 100%);
    background-image: -ms-linear-gradient(top,#ffffff 50%,#f2f2f2 100%);
    border: 1px solid #cccccc;
    clear: both;
    line-height: 1.8em;
    padding: 10px;
    margin: 10px
}
.WikiaArticle,.wikia-infobox {
    font-size: 13px;
    line-height: 21px
}

.WikiaArticle {
    min-height: 250px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    word-wrap: break-word;
    z-index: 1
}

.WikiaArticle h2 {
    border-bottom: solid 1px #cccccc;
    font-size: 18px;
    margin-top: 30px;
    overflow: hidden;
    padding-bottom: 3px
}

.WikiaArticle h3 {
    font-size: 16px;
    overflow: hidden
}

.WikiaArticle h4 {
    font-size: 14px
}

.WikiaArticle h5 {
    font-size: 12px
}

.WikiaArticle h6 {
    font-size: 11px
}

.WikiaArticle b,.WikiaArticle strong {
    font-weight: bold
}

.WikiaArticle sup {
    font-size: 11px;
    line-height: 0;
    vertical-align: super
}

.WikiaArticle ul,.WikiaArticle ol {
    margin: .4em 0 .5em 2.5em
}

.WikiaArticle ol {
    list-style: decimal
}

.WikiaArticle ol.special {
    margin-left: 3.2em
}

.WikiaArticle ul {
    list-style: square
}

.WikiaArticle li {
    line-height: 20px;
    margin: 3px 0
}

.WikiaArticle dl {
    margin: 1em 0
}

.WikiaArticle dt {
    font-weight: bold;
    margin-bottom: 1px
}

.WikiaArticle img {
    vertical-align: middle
}

.WikiaArticle .center {
    text-align: center;
    width: 100%
}

.WikiaArticle .center * {
    margin-left: auto;
    margin-right: auto
}

.WikiaArticle .tright {
    clear: right;
    float: right;
    margin: 0 0 16px 16px
}

.WikiaArticle .tleft {
    clear: left;
    float: left;
    margin: 0 16px 16px 0
}

.WikiaArticle .magnify {
    float: right;
    margin-top: 4px
}
.WikiaArticle p {
    margin: .4em 0 .5em
}

.WikiaArticle p + p {
    margin: 1em 0
}

.WikiaArticle ul.gallery {
    margin-left: 0
}

.article-thumb {
    margin-bottom: 15px;
    margin-top: 6px
}

.article-thumb a,.article-thumb img {
    display: block
}

.article-thumb p,.article-thumb p + p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding-top: 5px
}

.article-thumb.tright {
    clear: right;
    float: right;
    margin-left: 20px
}

.article-thumb.tleft {
    clear: left;
    float: left;
    margin-right: 20px
}

.article-thumb .title {
    font-weight: bold
}

.article-thumb figcaption {
    text-align: left
}

.article-thumb .caption {
    color: gray
}

.article-thumb .caption a,.article-thumb .caption img {
    display: inline
}

.article-thumb.show-info-icon .info-icon {
    display: none;
    float: right;
    margin: -22px 5px 0 0;
    position: relative
}



.CategorySelect.articlePage {
    background-image: none;
    background-color: transparent;
    line-height: normal;
    margin: 10px 0 10px 0;
    padding: 0;
    position: relative
}

.CategorySelect.articlePage .categories {
    margin: 0;
    overflow: hidden;
    padding: 0
}

.CategorySelect.articlePage .category {
    border-right: 1px solid #cccccc;
    margin-top: 3px;
    padding-right: 6px
}

.CategorySelect.articlePage .container {
    zoom:1;padding: 10px 20px 4px 20px
}

.CategorySelect.articlePage .special-categories {
    float: left;
    padding: 3px 0;
    margin-right: 6px
}

img.lzyPlcHld {
    opacity: 0
}

img.lzyLoaded {
    opacity: 1
}

img.lzyTrns {
    transition: opacity 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out
}

body {
    overflow-x: hidden;
    position: relative
}
@media only screen and (max-width: 1083px) {
    .WikiaPage {
        padding:0 24px;
        width: 718px
    }
}

@media only screen and (min-width: 1084px) and (max-width:1595px) {
    .WikiaPage {
        padding:0 20px;
        width: 1024px
    }
}

@media only screen and (min-width: 1596px) {
    .WikiaPage {
        padding:0 30px;
        width: 1178px
    }
}

@media only screen and (max-width: 767px) {
    body {
        overflow-x:auto
    }
}
.WikiaMainContent {
    width: 100%
}

@media only screen and (min-width: 1084px) {
    .WikiaMainContent {
        width:-webkit-calc(100% );
        width: calc(100% )
    }
}

.WikiaArticle {
    padding: 0
}


/* extensions/wikia/PageHeader/styles/index.scss */
.WikiaPage .page-header {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding: 16px 0 12px;
    position: relative;
    width: 100%;
    z-index: 4
}

.WikiaPage .page-header__main {
    -webkit-align-self: flex-end;
    -ms-align-self: flex-end;
    align-self: flex-end;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0
}

.WikiaPage .page-header__categories {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 12px
}

.WikiaPage .page-header__categories-in {
    font-weight: 600;
    padding-right: 4px;
    white-space: nowrap
}

.WikiaPage .page-header__categories-links {
    color: #36767e;
    font-style: italic;
    line-height: 16px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word
}

.WikiaPage .page-header__title {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    color: #3a3a3a;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    max-width: 100%;
    word-wrap: break-word
}

.WikiaPage .page-header__title i {
    font-style: italic
}

.WikiaPage .page-header__separator {
    background-color: #cccccc;
    border: 0;
    height: 1px;
    margin-bottom: 18px;
    margin-top: 0;
    width: 100%
}

.WikiaPage .page-header__page-subtitle {
    margin-top: 6px
}

.portable-infobox {
    background-color: #ebf1f2;
    clear: right;
    float: right;
    margin: 0 0 15px 15px;
    width: 270px
}

.portable-infobox .pi-item-spacing {
    padding: 5px 10px
}

.portable-infobox .pi-secondary-font {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 0
}

.portable-infobox .pi-header,.portable-infobox .pi-title {
    border: 0;
    margin: 0
}

.portable-infobox .pi-title {
    font-size: 18px;
    line-height: 28px
}

.portable-infobox .pi-data-label {
    margin-bottom: inherit;
    margin-top: 0
}

.portable-infobox .pi-data-value > *,.portable-infobox .pi-data-value li {
    margin: 0
}

.portable-infobox .pi-data-value ol,.portable-infobox .pi-data-value ul {
    list-style-position: inside
}

.portable-infobox .pi-data-value li {
    line-height: 19px
}

.portable-infobox .pi-section-label {
    color: #36767e
}

.pi-border-color {
    border-color: #cddddf
}

.pi-image {
    text-align: center
}

.pi-data,.pi-group {
    border-bottom-style: solid;
    border-bottom-width: 1px
}

.pi-data {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%
}

.pi-data-label {
    -ms-flex-preferred-size: 90px;
    -webkit-flex-basis: 90px;
    -moz-flex-basis: 90px;
    flex-basis: 90px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow: hidden;
    word-wrap: break-word
}

.pi-data-value {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 12px;
    line-height: 18px;
    padding-left: 0;
    word-break: break-word
}

.pi-section-tab:hover .pi-section-label {
    color: #173337
}

.pi-section-content {
    display: none
}